@font-face {
  font-family: 'Mulish';
  src: url('./assets/font/Mulish-VariableFont_wght.ttf') format('truetype');
  /* Add other font properties like font-weight and font-style if needed */
}

:root {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  padding: 8px 150px;
  margin: 0 auto;
}


.listCards {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  margin-top: 24px;
  margin-bottom: 40px;
  gap: 30px;
}

.listCards .movieCard {
  width: calc(100%/6 - 25px);
}

h2 {
  color: #FFF;
  font-family: "Mulish";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  /* 88.889% */
}

h3 {
  color: #FFF;
  text-align: center;
  font-family: "Mulish";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 112.5%;
  /* 36px */
}

h5 {
  color: #868686;
  text-align: center;
  font-family: "Mulish";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 112.5%;
  /* 24.75px */
}

.no-data {
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
}